*.sqlite
webtriathlon.egg-info
build
dist
*.save
*.log
MANIFEST
*.log
*.zip
*.iso
webtriathlon.sh
*.psave
error.html
debian/*
webtriathlon/server/wiki/fixtures/*.json
twistd.pid
src/encoder/REVNO
src/server/REVNO
*.pyc
